.about{
    .text, .image{
        margin: $marge-m 0 0;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image{
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and (min-width: $md) {
        padding: $marge-m 0;
        .text, .image{
            margin: 0;
        }
    }
    @media screen and (min-width: $lg) {
        padding: $marge-d-y 0;
        position: relative;
        .text{
            padding: $marge-d-y 0;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 25%;
            height: 100%;
            background-color: $color;
        }
    }
}