footer{
    padding: $marge-m;
    font-size: .9em;
    text-align: center;
    ul{
        list-style-type: none;
        padding: 0;
        a{
            text-decoration: none;
        }
    }
    a{
        color: black;
    }
}