.home-screen{
    // font-family: $font-s;
    padding-top: $header-ht-m;
    .content-home{
        background-color: rgba($color: $color-s-l, $alpha: 1.0);
    }
    .text{
        padding: $marge-m;
        h1{
            font: 400 .9em/1.5em $font-s;
            margin: 0;
        }
        h2{
            margin: .25em 0;
        }
        p{
            font: 400 1.25em/1.5em $font-s;
            margin: 0;
        }
    }
    .image{
        img{
            width: 80%;
            height: auto;
            display: block;
            padding: 0 0 $marge-m;
            margin: auto;
        }
    }
    @media screen and (min-width: $sm) {
        .text, .image{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    @media screen and (min-width: $lg) {
        padding-top: 0;
        position: relative;
        height: 100vh;
        .content-home{
            background-color: rgba($color: #000, $alpha: 0.5);
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 10;
        }
        .text{
            h1{
                font-size: 1vw;
            }
            h2{
                font-size: 3vw;
            }
            p{
                font-size: 1.5vw;
            }
        }
        .parallax-section{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
        .image{
            img{
                width: 60%;
            }
        }
    }
}