<div class="loader position-fixed wd-100 ht-100vh text-center">
<div class="content-anim"><span class="main-title animate-title">Les fleurs de Riton</span>
<hr /> <span class="sub-title animate-title" data-aos="fade-up" data-aos-duration="1000">Artisan fleuriste itinérant sur Saint-Didier-sous-Aubenas</span></div>
</div>

<header id="header"><button class="nav-btn toggle-nav"><i class="bar bar-1"></i> <i class="bar bar-2"></i> <i class="bar bar-3"></i><i class="close-bar"></i></button>

<figure class="logotype"><img alt="Les Fleurs de Riton" class="logo-text" src="../uploads/images/pages/logo-text.png" /></figure>
<button class="contact-btn nav-link" data-link="#contact">Nous contacter</button></header>

<nav class="navsite">
<ul id="nav">
	<li><a class="nav-link" data-link="#home" href="#home">Bienvenue</a></li>
	<li><a class="nav-link" data-link="#about" href="#about">Marianne et Riton</a></li>
	<li><a class="nav-link" data-link="#services" href="#services">Prestations et réalisations</a></li>
	<li><a class="nav-link" data-link="#contact" href="#contact">Accès et Contact</a></li>
</ul>
</nav>

<div class="mobile-bar"><button class="nav-btn toggle-nav"><i class="bar bar-1"></i> <i class="bar bar-2"></i> <i class="bar bar-3"></i></button><button class="contact-btn">Nous contacter</button></div>