<header id="header">
  <button class="nav-btn toggle-nav"><i class="bar bar-1"></i> <i class="bar bar-2"></i> <i class="bar bar-3"></i>
  </button>
  <figure class="logotype"><img alt="Les Fleurs de Riton" class="logo-text" src="../uploads/images/pages/logo-text.png" />
  </figure>
  <button class="contact-btn">Nous contacter
  </button>
</header>
<nav class="navsite">
  <ul id="nav">
    <li><a href="#">Bienvenue</a></li>
    <li><a href="#">Marianne et Riton</a></li>
    <li><a href="#">Prestations et réalisations</a></li>
    <li><a href="#">Accès et Contact</a></li>
  </ul>
</nav>
<div class="mobile-bar">
  <button class="nav-btn toggle-nav"><i class="bar bar-1"></i> <i class="bar bar-2"></i> <i class="bar bar-3"></i>
  </button>
  <button class="contact-btn">Nous contacter
  </button>
</div>