<!-- Menu mobile -->
<nav class="mobile-nav position-fixed wd-100">
		<button class="nav-btn toggle-nav">
			<i class="bar bar-1"></i>
			<i class="bar bar-2"></i>
			<i class="bar bar-3"></i>
			<i class="close-bar"></i>
		</button>
		<span>
			<a href="#contact">
				Nous contacter
			</a>
		</span>
</nav>

<!-- Pied de page -->
<footer>
	<div class="row">
		<div class="col-6 col-xs-12">
			<p>
				<a href="/fr/mentions-legales">Mentions légales</a> - <a href="/fr/politique-de-confidentialite">Confidentialité</a><br />
				<span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span>
			</p>
		</div>
		<div class="col-6 col-xs-12">
			<p>Référencement SEO et Photographies : <a href="https://www.agence-gestion-com.fr/fr" rel="noopener" target="_blank">AGC Web</a><br />
			Conception et développement : <a href="https://www.creative-eye.fr/fr" rel="noopener" target="_blank">Creative Eye Studio</a></p>
		</div>
	</div>
</footer>