<div class="loader position-fixed wd-100 ht-100vh text-center">
	<div class="content-anim">
		<span class="main-title animate-title" data-aos="fade-up" data-aos-disable="false" data-aos-duration="1000">Les fleurs de Riton</span>
		<hr /> 
		<span class="sub-title animate-title" data-aos="fade-up" data-aos-disable="false" data-aos-duration="1000">Artisan fleuriste itinérant sur Saint-Didier-sous-Aubenas</span>
	</div>
</div>

<header id="header" class="position-fixed">
	<button aria-label="Menu de navigation" class="nav-btn toggle-nav">
		<i class="bar bar-1"></i>
		<i class="bar bar-2"></i>
		<i class="bar bar-3"></i>
		<i class="close-bar"></i>
	</button>
	<figure class="logotype">
		<a href="/fr" data-no-swup>
			<img alt="Les Fleurs de Riton" class="logo-text" src="../uploads/images/pages/logo-text.png" />
		</a>
	</figure>
	<span class="contact-btn">
		<a class="btn nav-link" href="#contact">Nous contacter</a>
	</span>
</header>

<nav id="nav" class="navsite">
	<ul>
		{{ include('webpages/blocks/_navigation.html.twig', {pos: 0}) }}
	</ul>
</nav>