button{
    &#contact_form_submit{
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        background-color: $color-s;
        font: 400 1em/1em $font-s;
        text-align: left;
    }
}