$scrollTime: .2s;

// TYPOGRAPHY
$font-s: 'Raleway';

// COLORS
$color: #2d4757;
$color-s: #f9fa93;
$color-s-l: lighten(#f9fa93, 17.5%);

// MARGINS
$marge-m: 2rem;

// HEADER - NAV
$header-ht: 80px;
$mobbar-ht: 60px;