<!-- Accueil -->
<div class="home-screen" id="home">
<div class="content-home ht-100vh-no-md row">
<div class="text ht-100vh-no-md col-6 col-xs-12 padding-all-no-md">
<h1>Artisan Fleuriste itinérant sur Saint-Didier-sous-Aubenas</h1>

<h2>Les Fleurs de Riton</h2>

<p>Mariages | Baptèmes | Deuil | Evenements spéciaux</p>
</div>

<figure class="image ht-100vh-no-md col-6 col-xs-12"><img alt="Logo - Les Fleurs de Riton" src="../uploads/images/pages/logo.png" /></figure>
</div>

<div class="parallax-section">
<figure class="parallax-element"><img alt="Bouquet de Mariage" src="../uploads/images/pages/bg-home.jpg" /></figure>
</div>
</div>
<!-- Présentation -->

<div class="about padding-vertical-no-md" id="about">
<div class="row">
<div class="text padding-horizontal-no-md col-6 col-sm-12">
<h2 data-aos="fade-up">Riton ? C'est mon camion !<br />
Magnifique Estafette de 1978</h2>

<p data-aos="fade-up">Notre histoire à commencé en 2017 sur les petites routes Ardéchoises que nous avons empruntées pendant 3 ans pour vous fleurir et vous accompagner dans tous les évènements de la vie&nbsp;: Anniversaires, fêtes, mariages, deuil, ainsi que pour la location de plantes et la décoration florale de vos entreprises&nbsp;: restaurants, hôtels, agences...</p>

<p data-aos="fade-up">Et c’est en juillet 2020, que nous avons décidé de nous installer en Zone de Millet à Saint-Didier-sous-Aubenas.</p>

<p data-aos="fade-up">Nous vous accueillons dans notre boutique du Mardi au Samedi de 9h00 à 19h00 &amp; le Dimanche de 9H00 à 12H00.</p>
</div>

<figure class="image col-6 col-sm-12 padding-none"><img alt="Les Fleurs de Riton - Marianne Molina et son camion Riton" src="uploads/images/pages/about-image.jpg" /></figure>
</div>
</div>
<!-- Services -->

<div class="services padding-all-no-md" id="services">
<div class="row tab-container">
<div class="btn-list col-3 col-sm-12">
<ul class="tabs" data-aos="fade-up">
	<li><a class="tab active service-btn">Mariages</a></li>
	<li><a class="tab service-btn">Deuil</a></li>
	<li><a class="tab service-btn">Bouquet de saison</a></li>
	<li><a class="tab service-btn">Occasions professionnelles</a></li>
</ul>
</div>

<div class="tab-panes services-list col-9 col-sm-12" data-aos="fade-up">
<section class="tab-pane service-block active">
<h2>Une décoration florale à l'image de votre bonheur</h2>

<p>Parce que votre mariage est un jour unique, il nécessite toute notre attention. Nous mettons toute notre expérience et notre savoir-faire à votre disposition pour que ce jour reste à jamais gravé dans votre mémoire.</p>

<p>Aussi, n’hésitez pas à nous contacter afin de fixer un rendez-vous pour cibler au mieux vos attentes et récolter toutes les informations nécessaires à l’élaboration de votre devis.</p>
</section>

<section class="tab-pane service-block">
<h2>Pour un dernier adieu</h2>

<p>Pour une cérémonie d'enterrement et rendre hommage au défunt, les fleurs sauront transmettre votre message et tous vos vœux pour un dernier au revoir. Nous vous accompagnerons dans cette démarche en vous apportant notre soutien et notre savoir-faire afin de choisir les fleurs les plus adaptées, que ce soit en gerbes, bouquets, couronnes funéraires..</p>

<p>N’hésitez pas à nous contacter par <a href="#" title="Contact par téléphone">téléphone</a> ou sur notre <a href="#" title="Formulaire de contact">page de contact</a> afin d’étudier au mieux votre demande.</p>
</section>

<section class="tab-pane service-block">
<h2>Un bouquet pour sa saison</h2>

<p>Les Fleurs, comme les saisons, aiment évoluer au fil du temps. Nous, fleuristes, travaillons avec des fleurs de saison pour toujours avoir de nouvelles matières à travailler, de nouvelles couleurs à découvrir, et de nouveaux parfums à sentir.</p>

<p>Alors à chaque saison sa fleure tout comme à chaque dame son bouquet.<br />
Mesdames, et Messieurs, n’hésitez pas à nous contacter afin de réserver votre bouquet et découvrir de nouveaux horizons au fil des saisons.</p>
</section>

<section class="tab-pane service-block">
<h2>Particuliers, rendez une fête encore plus colorée !<br />
Professionnels,&nbsp;boostez votre visibilité !</h2>

<p>Rendez votre fête encore plus belle grâce à la location ponctuelle de plantes ou bouquets pour tous types d’évènements&nbsp;: Salons, réceptions, cocktails, anniversaires, départs à la retraite…</p>

<p>Nous proposons aussi, pour les professionnels, des contrats d’abonnements floraux, à la semaine, ou au mois, afin d’aiguayer vos bureaux, ou simplement les sublimer. N’hésitez pas à nous contacter par <a href="#" title="Contact par téléphone">téléphone</a> ou directement sur la section <a href="#" title="Formulaire de contact">contact</a> de notre site afin de cibler au mieux vos attentes et élaborer votre devis.</p>
</section>
</div>
</div>
</div>
<!-- Parallax -->

<div class="parallax-section">
<figure class="parallax-element"><img alt="Bouquet de Mariage" src="../uploads/images/pages/bg-parallax.jpg" /></figure>
</div>
<!-- Contact -->

<section class="contact" id="contact">
<div class="row">
<div class="infos padding-all-no-md col-6 col-sm-12">
<h2 class="text-center">Accès et contact</h2>

<p class="text-center">149 chemin des Vignettes<br />
Zone commerciale de, Chem. des Terres de Millet<br />
07200 Saint-Didier-sous-Aubenas</p>

<p class="text-center"><a href="tel:06 84 03 15 54">06 84 03 15 54</a><br />
<a href="javascript:void(location.href='mailto:'+String.fromCharCode(99,111,110,116,97,99,116,64,108,101,115,102,108,101,117,114,115,100,101,114,105,116,111,110,46,99,111,109))">contact@lesfleursderiton.com</a></p>
{{ form(contact_form) }}</div>

<div class="maps col-6 col-sm-12">
<p class="gm-link"><a href="https://www.google.com/maps/dir//Les+Fleurs+De+Riton,+149+chemin+des+Vignettes+Zone+commerciale+de,+Chem.+des+Terres+de+Millet,+07200+Saint-Didier-sous-Aubenas/@44.6124592,4.4094463,15z/data=!4m17!1m7!3m6!1s0x12b4e1b50ad708f1:0xac34d36539fded1c!2sLes+Fleurs+De+Riton!8m2!3d44.6124592!4d4.4094463!16s%2Fg%2F11f2wg7_05!4m8!1m0!1m5!1m1!1s0x12b4e1b50ad708f1:0xac34d36539fded1c!2m2!1d4.4094463!2d44.6124592!3e3" rel="noopener" target="_blank" title="Voir l'itinéraire">Calculer l'itinéraire sur Google Maps</a></p>
<img alt="" src="/uploads/images/pages/google-maps.jpg" /></div>
</div>
</section>